#player {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 8px;
  top: 179px;
  background-image: url(../assets/imgs/player.png);
}

#enemyHelicopter {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 689px;
  top: 253px;
  background-image: url(../assets/imgs/enemyHelicopter.png);
}

#enemyTruck {
  width: 165px;
  height: 70px;
  position: absolute;
  left: 775px;
  top: 447px;
  background-image: url(../assets/imgs/enemyTruck.png);
}

#survivor {
  width: 44px;
  height: 51px;
  position: absolute;
  left: 10px;
  top: 464px;
  background-image: url(../assets/imgs/survivor.png);
}

.playerAnimation {
  background-image: url(../assets/imgs/player.png);
  animation: playHelicopters 0.5s steps(2) infinite;
}

.enemyHelicopterAnimation {
  background-image: url(../assets/imgs/playHelicopters.png);
  animation: playHelicopters 0.5s steps(2) infinite;
}

.survivorAnimation {
  background-image: url(../assets/imgs/amigo.png);
  animation: playSurvivor 0.9s steps(12) infinite;
}

#fire {
  width: 50px;
  height: 8px;
  position: absolute;
  background-image: url(../assets/imgs/fire.png);
}

@keyframes playHelicopters {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@keyframes playSurvivor {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

#explosion {
  width: 15px;
  height: 87px;
  position: absolute;
}

#survivor_death {
  width: 44px;
  height: 51px;
  position: absolute;
}

.survivorDeathAnimation {
  width: 44px;
  height: 51px;
  background-image: url(../imgs/amigo_explosao.png);
  animation: survivorDeath 0.5s steps(7) infinite;
}

@keyframes survivorDeath {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

#score {
  width: 450px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 590px;
}

#energy {
  width: 140px;
  height: 38px;
  position: absolute;
  left: 750px;
  top: 7px;
}

