@font-face {
  font-family: Titulo;
  src: url(../assets/fonts/ANODETONOONE.TTF);
}

h1 {
  font-family: Titulo;
  font-size: 40px;
  color: #603a03;
}

h2 {
	font-family:Titulo;
	font-size:20px;
	color:#FFF
}

h3 {
	font-family:Titulo;
	font-size:20px;
	color:#603A03;
}

body {
  background-image: url(../assets/imgs/background.jpg);
}

#container {
  width: 950px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#background {
  width: 950px;
  height: 630px;
  background-image: url(../assets/imgs/background_game.jpg);
  border-color: #fff;
  border-style: solid;
}

#start {
  width: 350px;
  height: 250px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}

#end {
  width: 350px;
  height: 200px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}
